/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    /*background-color: blue;*/
}

body, html {
    height: 100%;
    width: 100%;
}

.parameter {
    height: 100%;
    width:1024px;
    margin:0 auto;
    /*border:1px solid black;*/
}

.introduction, .description, .quotes, .forms, .contact {
    min-height: 100%;
    width:100%;
}

/*INTRODUCTION*/

.introduction {
    /*height: 100%;*/
    /*width:100%;*/
    background: url('../kunesh-gansen/img/tweed.png');
    background-attachment: fixed;
}

.introduction h1 {
    color:#dddddd;
    text-align: center;
    font-family: 'Denk One', sans-serif;
    font-size: 50px;
    padding-top: 60px;
}

.introduction img {
    height:200px;
    position:relative;
}

.introduction .jason_kunesh_img {
    top:50px;
    left:0;
}

.introduction .chris_gansen_img {
    top:50px;
    right:0;
}

/*DESCRIPTION*/

.description {
    background-color: rgb(147,139,137);
    /*background-attachment: fixed;*/
}

/*QUOTES*/

.quotes {
    background-color: rgb(229,128,34);
}

/*FORMS*/

.forms {
    background-color: rgb(186,109,53);
    background-attachment: fixed;
}

.username, .email{
    padding:0 30px 0 0;
    display: block;
}

/*CONTACT*/

.contact {
    background-color: rgb(38,54,53);
}

/*FOOTER*/
