//General
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.slide {
    height: 100%;
}

// Nav

nav {
    background-color: #313131;
    color: #bbb;
    line-height: 27px;
    font-size: 13px;
    ul {
        display: inline-block;
        text-align: center;
        li {
            display: inline-block;
            width: 65px;
            font-weight: bold;
            &:hover {
                color: white;
            }
        }
    }
}

// Section 1 - Thank You

.thankyou {
    .mainsearch {
        width: 100%;
        margin-top: 162px;
        img {
            width: 100%;
        }
    }
    background-color: white;
}

// Section 2 - Google Plus

.googlepluscontainer{
    height: 100%;
    background: #1851CE;

    .googleplus {
        margin: 0 30px;
        border-top: 1px solid black;
        background-color: rgb(229, 229, 229);
        .googleplusthanks {
            width: 100%;
            background-color: white;
            padding-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .googleplusbio {
            width:100%;
            img {
                width: 100%
            }
        }
        .gpcontentcontainer {
            margin: 30px auto;
            width: 600px;
            height: 500px;
            position: relative;
                h4 {
                    font-size: 14px;
                    line-height: 30px;
                }

                h5 {
                    font-size: 13px;
                    line-height: 30px;
                }

                .lessons, .bio {
                    border-radius: 3px;
                    background-color: white;
                    width: 250px;
                    height: 400px;
                    padding: 0 15px;
                }
                .plusfont{
                    font-size: 14px;
                    line-height: 20px;
                }
                .lessons {

                    ul {
                        margin-top: 15px;
                        list-style-type: none;
                        padding-left: 25px;
                        padding-right: 25px;
                        li {
                            font-size: 13px;
                        }
                    }
                }
                .bio {
                    width: 250px;
                    height: 320px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
        }
    }
}

// Section 3 - Search
.tysearchcontainer {
    height: 100%;
    background-color: #C61800;
    .search {
        margin:0 30px;
        .tysearch {
            width: 100%;
            background-color: white;
            padding-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .searchbigdiv {
        margin-left: 10%;
        color: #222;
        display: block;
        font-size: 16px;
        font-weight: normal;
        height: 80%;
        padding-top: 6px;
        width: 512px;
            ol {
                color: rgb(34,34,34);
                display: block;
                font-size: 16px;
                font-weight: normal;
                height: 80%;
                list-style-type: decimal;
                margin: 0;
                padding: 0;
                width: 512px;
                li {
                    display: list-item;
                    font-size: 13px;
                    font-weight: normal;
                    height: 60px;
                    line-height: 15px;
                    list-style-image: none;
                    list-style-position: outside;
                    list-style-type: none;
                    margin-bottom: 23px;
                    padding: 0;
                    text-align: left;
                    width: 512px;
                    div {
                        display: block;
                        font-size: 13px;
                        font-weight: normal;
                        height: 60px;
                        line-height: 15px;
                        position: relative;
                        width: 512px;
                        h3 {
                            display: block;
                            font-size: 16px;
                            height: 19px;
                            font-weight: normal;
                            margin: 0;
                            overflow-x: hidden;
                            overflow-y: hidden;
                            padding: 0;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            a {
                                display: inline;
                                height: auto;
                                width: auto;
                                white-space: nowrap;
                                font-size: 16px;
                                font-weight: bold;
                                color: #12c;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Section 4 - Images
.imagescontainer{
    background: #FFCF00;
    height: 100%;
    figure {
        margin-bottom: 0;
        height: 1px;
    }
    .images {
        margin: 0 30px;
    }
    .imagesearch {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .imagespage {
        background-color: white;
        height: 100%;
        padding: 0px;
        margin-top: 0;

    }
    .labcoat, .brianhand, .brianclock {
        display: inline-block;
    }
    .labcoat img{
        height: 200px;
    }
    .brianhand img{
        height: 300px;
    }
    .brianclock img{
        height: 200px;
    }
}
// Section 5 - Maps
.mapscontainer {
    background: #1851CE;
    height: 100%;
    .maps {
        margin: 0 30px;
    }
}
// Section 6 - News
.newscontainer {
    background: #31B639;
    height: 100%;
    .news {
        margin: 0 30px;
    }
}
// Section 7 - More
.morecontainer {
    background-color: #C61800;
    height: 100%;
    .more {
        margin: 0 30px;
        background: #C61800;
        border-bottom: 1px solid black;

    }
    form {
        line-height: 1.5em;
        fieldset {
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }
}
// Section 8 - About

.about {
    background: white;
    height: 100%;
    width: 100%;
    .container {
        height: 100%;
        width: 100%;
        vertical-align: top;
        padding-bottom: 0;
        .column {
            width: 16%;
            vertical-align: top;
            display: inline-block;
            height: 100%;
            padding: 1.1%;
            border-left: 1px solid black;
            padding-bottom: 0;
        }
        .chris {
            width: 10%;
            background: #1851CE;
            h3 {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                margin-top: 80px;
            }
        }
        .chrisimg {
            background: #C61800;
        }
        .chrisdesc {
            background: #FFCF00;
        }
        .ethandesc {
            background: #1851CE;
        }
        .ethanimg {
            background: #31B639;
        }
        .ethan {
            width: 10%;
            background: #C61800;
            h3 {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                margin-top: 120px;
            }
        }
    }
}

