//General
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.slide {
    height: 100%;
}

// Nav

nav {
    background-color: #313131;
    color: #bbb;
    line-height: 27px;
    font-size: 13px;
    ul {
        display: inline-block;
        text-align: center;
        li {
            display: inline-block;
            width: 65px;
            font-weight: bold;
            &:hover {
                color: white;
            }
        }
    }
}

// Section 1 - Thank You

.thankyou {
    .mainsearch {
        width: 100%;
        margin-top: 162px;
        img {
            width: 100%;
        }
    }
    background-color: white;
}

// Section 2 - Google Plus

.googlepluscontainer{
    height: 100%;
    background: #1851CE;

    .googleplus {
        margin: 30px;
        border-top: 1px solid black;
        background-color: white;
        .googleplusthanks {
            width: 100%;
            background-color: white;
            padding-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .googleplusbio {
            width:100%;
            img {
                width: 100%
            }
        }
    }
}

// Section 3 - Search

.search {
    background: #C61800;
    .tysearch {
        width: 100%;
        background-color: white;
        padding-bottom: 30px;
        img {
            width: 100%;
        }
    }

    .searchbigdiv {
        margin-left: 10%;
        color: #222;
        display: block;
        font-size: 16px;
        font-weight: normal;
        height: 80%;
        padding-top: 6px;
        width: 512px;

        ol {
            color: rgb(34,34,34);
            display: block;
            font-size: 16px;
            font-weight: normal;
            height: 80%;
            list-style-type: decimal;
            margin: 0;
            padding: 0;
            width: 512px;
            li {
                display: list-item;
                font-size: 13px;
                font-weight: normal;
                height: 60px;
                line-height: 15px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                margin-bottom: 23px;
                padding: 0;
                text-align: left;
                width: 512px;
                div {
                    display: block;
                    font-size: 13px;
                    font-weight: normal;
                    height: 60px;
                    line-height: 15px;
                    position: relative;
                    width: 512px;
                    h3 {
                        display: block;
                        font-size: 16px;
                        height: 19px;
                        font-weight: normal;
                        margin: 0;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        padding: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        a {
                            display: inline;
                            height: auto;
                            width: auto;
                            white-space: nowrap;
                            font-size: 16px;
                            font-weight: bold;
                            color: #12c;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
    }
}

// Section 4 - Images

.images {
    background: #FFCF00;
}

// Section 5 - Maps

.maps {
    background: #1851CE;
}

// Section 6 - News

.news {
    background: #31B639;
}

// Section 7 - More

.more {
    background: #C61800;
    border-bottom: 1px solid black;
}

form {
    line-height: 1.5em;
    fieldset {
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

// Section 8 - About

.about {
    background: white;
    height: 100%;
    width: 100%;
    .container {
        height: 100%;
        width: 100%;
        vertical-align: top;
        padding-bottom: 0;
        .column {
            width: 16%;
            vertical-align: top;
            display: inline-block;
            height: 100%;
            padding: 1.1%;
            border-left: 1px solid black;
            padding-bottom: 0;
        }
        .chris {
            width: 10%;
            background: #1851CE;
            h3 {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                margin-top: 80px;
            }
        }
        .chrisimg {
            background: #C61800;
        }
        .chrisdesc {
            background: #FFCF00;
        }
        .ethandesc {
            background: #1851CE;
        }
        .ethanimg {
            background: #31B639;
        }
        .ethan {
            width: 10%;
            background: #C61800;
            h3 {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                margin-top: 120px;
            }
        }
    }
}
