* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  text-align: center;
  height: 100%; }

h2 {
  font-size: 40px; }

section {
  width: 940px;
  margin: 0 auto; }

header {
  background: linear-gradient(#789048, #607848); }

.kickstarter {
  background: #f0f0d8; }

.contact {
  background: #604848; }

header, .kickstarter, .contact {
  height: 100%;
  margin: 0 auto;
  width: 100%; }

.kickstarter div {
  margin: 20px;
  display: inline-block; }
