* {
    padding: 0;
    margin: 0;
    z-index: 0;
}

html {
    height:100%;
}

body {
    height:100%;
}

.container {
    margin: 0 auto;
    width:100%;
}

.thanks {
    min-width:400px;
    text-align: center;
    background-color:lightgray;
    height:100%;
    position: absolute;
}

h1 {
    font-size:40px;
    text-decoration: underline;
    padding-top:10%;
}

.name {
    font-size:24px;
    position:absolute;
    font-family:cursive;
    top:90%;
}

.maxsname {
    left:20%;
}

.gregsname {
    right:20%;
}


.descriptions {
    background-color: green;
    position:absolute;
    top:100%;
    width:100%;
    min-width: 400px;
    margin:0 auto;
    height:100%;
}

.maxdescription {
    position:absolute;
    height:50%;
    padding-left:20%;
    border-bottom:1px solid black;
}

.gregdescription {
    position: absolute;;
    top:50%;
    height:50%;
}

.maxdescription > a, .gregdescription > a {
    position: absolute;
    top:49%;
    text-decoration: none;
    color:white;
    font-size: 40px;
}

.gregdescription > a {
    right: 8%;
}

.maxdescription a:hover, .gregdescription a:hover {
    color:blue;
}

.maxparagraph {
    color:white;
    width:70%;
    float:right;
    margin-top:16.5%;
    margin-right:60px;
}

.maxparagraph a, .gregparagraph a {
    font-size:20px;
    color:red;
}

.gregparagraph {
    float:left;
    color:white;
    width:60%;
    margin-top:16.5%;
    margin-left: 60px;
}

.contact {
    background-color:pink;
    position: absolute;
    top:200%;
    height:100%;
    width:100%;
}

.contactform {
    position:absolute;
    left:40%;
    top:40%;
}

legend {
    font-size: 30px;
}

.userinfo {
    display:inline-block;
    padding:3px;
}

.userinfo input {
    width:300px;
    height:30px;
    font-size:24px;
}

.sendto {
    display:inline-block;
    padding-top:10px;
}

.sendto input {
    width: 50px;
    height: 47px;
    padding-bottom:10px;
}

.quotes {
    background-color:orange;
    position: absolute;
    top:300%;
    height:100%;
    width:100%;
}

footer {
    position:absolute;
    top:400%;
    width:100%;
}

.radiobutton {
    font-size: 32px;
}
