/*Color Scheme */
/*General*/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  text-align: center;
  height: 100%;
  font-family: 'Karla', sans-serif; }

a {
  text-decoration: none;
  color: black; }
  a:visited {
    color: black; }

h2 {
  font-size: 36px;
  font-family: 'Bevan', cursive;
  margin-bottom: 10px;
  min-width: 940px;
  text-shadow: 0 0 10px white;
  box-shadow: 0 2px 16px black; }

h1 {
  font-size: 50px;
  color: #f0f0d8;
  font-family: 'Acme', sans-serif; }

section {
  width: 940px;
  margin: 0 auto; }

header, .kickstarter, .contact {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  min-width: 940px; }

/*Head thank you */
header {
  background: linear-gradient(#789048, #607848); }
  header img {
    border-radius: 20px;
    box-shadow: 3px 3px 10px black; }
  header h2 {
    background: #f0f0d8; }
  header blockquote, header div {
    width: 700px;
    text-shadow: 0 0 10px white;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px outset #f0f0d8;
    margin: 0 auto;
    font-size: 20px;
    transition: all .6s;
    -webkit-transition: all .6s; }
    header blockquote:hover, header div:hover {
      background: #f0f0d8; }
  header h3 {
    font-size: 26px;
    padding: 10px;
    color: #f0f0d8; }
  header q {
    color: black; }
  header p {
    display: block;
    color: #604848;
    padding: 5px; }
  header a {
    display: block;
    width: 200px;
    margin: 10px auto 0 auto;
    background: #c0d860;
    padding: 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 3px outset #c0d860; }
    header a:hover {
      border: 3px inset #c0d860; }

/*Kick starter section*/
.kickstarter {
  background: #f0f0d8; }
  .kickstarter h3 {
    font-size: 30px;
    color: #607848;
    margin: 20px;
    transition: all .2s; }
    .kickstarter h3:hover {
      color: #c0d860; }
  .kickstarter h6 {
    font-size: 18px; }
  .kickstarter div {
    margin: 20px;
    display: inline-block; }
  .kickstarter h2 {
    background: #604848; }
  .kickstarter section div {
    float: left;
    width: 29%;
    margin: 10px;
    height: 270px;
    background: linear-gradient(#c0d860, #a3b851);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px; }
  .kickstarter section img {
    border-radius: 10px;
    transition: all .8s;
    -webkit-transition: all .5s; }
    .kickstarter section img:hover {
      transform: scale(2, 2);
      -webkit-transform: scale(1.2, 1.2); }
  .kickstarter section a {
    transition: all .5s;
    -webkit-transition: all .2s;
    color: #607848;
    cursor: pointer; }
    .kickstarter section a:hover {
      color: #f0f0d8; }

/*Contact Section*/
.contact {
  background: #604848; }
  .contact form {
    width: 940px;
    margin: 0 auto; }
    .contact form fieldset {
      padding: 10px;
      margin: 20px;
      border: none; }
    .contact form input {
      padding: 5px;
      display: block;
      margin: 0 auto; }
    .contact form button {
      display: block;
      margin: 0 auto;
      padding: 10px;
      font-size: 16px; }
    .contact form legend {
      font-size: 30px;
      padding: 20px; }
    .contact form textarea {
      padding: 10px;
      margin: 20px; }
  .contact h2 {
    background: #c0d860; }

/*Footer*/
.footer-bg {
  background: #f0f0d8;
  box-shadow: 0 -5px 15px #f0f0d8; }

footer {
  max-width: 940px;
  margin: 0 auto;
  height: 90px; }
  footer h5 {
    font-size: 16px; }
  footer div {
    display: inline-block;
    margin: 15px;
    width: 250px; }
    footer div img {
      border-radius: 8px;
      float: right;
      margin: 5px; }
    footer div h4 {
      font-size: 20px;
      padding: 5px; }
