@import url(http://fonts.googleapis.com/css?family=Roboto:300,100,400);
$darkblue: #44454F;
$white: #FEFDFD;
$redorange: #EB684A;
$lightgrey: #DEDEDE;
$orange: #E9A353;


// GENERAL

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Helvetica, arial, sans-serif;
    font-weight: 300;
    color: $white;
}

.slide {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container {
    max-width: 800px;
    display: inline-block;
}

h2 {
    text-align: center;
    padding-top: 100px;
}

a {
    color: $orange;
    text-decoration: none;
}

a:hover {
    color: darken($orange, 20%);
}

// TITLE

.title {
    text-align: center;
    background: $darkblue;
    h1 {
        color: $white;
        z-index: 10;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 60px;
        padding-top: 5%;
    }
    a {
        display: inline-block;
        width: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .pj {
        display: block;
        z-index: 0;
        content: "";
        margin: 5% auto 0;
        width: 320px;
        height: 320px;
        border-radius: 320px;
        background: url(pjmacklinpic.png) no-repeat 0 0;
        background-size: 100%;
    }
    h3 {
        color: $white;
        font-size: 40px;
        padding-top: 5%;
    }
}

// ABOUT

.about {
    text-align: center;
    background: $redorange;
    img {
        width: 17.25%;
        height: 100px;
        margin: 5% 1% 1%;
        display: inline-block;
        border: 1px solid $white;
    }
    q {
        text-align: left;
        font-size: 12px;
        float: right;
        clear: right;
        display: inline-block;
        width: 300px;
        margin: 2% 5px;
        padding: .25% 5px;
        &:before {
            content:"";
        }
        &:after {
            content:"";
        }
        em {
            float: right;
        }
    }

    p {
        padding: 5px;
        text-align: left;
        width: 460px;
        margin: 1% 10px;
        line-height: 1.5;
    }
}

// CONTACT

.contact {
    text-align: center;
    background: $orange;
    form {
        padding-top: 5%;
        display: inline-block;
        width: 460px;
        text-align: center;
        input {
            vertical-align: middle;
            display: inline-block;
            margin: 2%;
            border: none;
            padding: 5px;
            outline: none;
            color: black;
            &[required] {
                width: 100%
            }
        }
        .discover {
            margin-left: 2%;
            text-align: left;
            input:not(:nth-child(2)) {
                margin-right: 2px;
                margin-left: 20px;
            }
            input[type=text] {
                margin-left: 5px;
            }
        }
        textarea {
            margin: 2%;
            width: 100%;
            height: 25%;
            border: none;
            padding: 5px;
            outline: none;
            color: black;
        }
        button {
            color: $orange;
            cursor: pointer;
            display: inline-block;
            padding: 5px 20px;
            background: #44454F;
            border: 2px solid $white;
            border-radius: 10px;
            outline: none;
        }
        button:hover {
            color: darken($orange, 20%)
        }
    }
}

// FOOTER

footer {
    height: 45%;
    background-color: $lightgrey;
    text-align: center;
    h2 {
        color: $darkblue;
        padding-top: 2%;
    }
    article {
        height: 45%;
        margin: 2%;
        width: 45%;
        float: left;
        text-align: center;
        p {
            margin-top: 20px;
            color: $darkblue;
            text-align: left;
        }
        h3{
            text-align: left;
            position: relative;
            color: $redorange;
            padding-left: 80px;
            padding-top: 5px;
        }
        h3:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            width: 60px;
            border: 1px solid $darkblue;
            border-radius: 60px;
        }
        .grant:before {
            background: url(grant.jpg) no-repeat 0 0;
            background-size: 100%
        }
        .mohammed:before {
            background: url(mohammed.jpg) no-repeat 0 -10px;
            background-size: 100%
        }
        a {
            margin-top: 20px;
            padding: 5px 20px;
            border: 2px solid $white;
            border-radius: 10px;
            background: $darkblue;
            display: inline-block;
            font-size: 12px;
        }
    }
}
