@import url(http://fonts.googleapis.com/css?family=Roboto:300,100,400);
html {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-weight: 300;
  color: #fefdfd; }

body {
  background: url(bgimage.png) 0 0;
  height: 100%; }

.slide {
  width: 100%;
  height: 100%;
  text-align: center; }

.container {
  max-width: 800px;
  display: inline-block; }

h2 {
  text-align: center;
  padding-top: 100px; }

a {
  color: #e9a353;
  text-decoration: none; }

a:hover {
  color: #be7118; }

.title {
  text-align: center;
  background: #44454f;
  opacity: .85; }
  .title h1 {
    color: #fefdfd;
    z-index: 10;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 60px;
    padding-top: 5%; }
  .title a {
    display: inline-block;
    width: 80px;
    padding-left: 40px;
    padding-right: 40px; }
  .title .pj {
    display: block;
    z-index: 0;
    content: "";
    margin: 5% auto 0;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    background: url(pjmacklinpic.png) no-repeat 0 0;
    background-size: 100%; }
  .title h3 {
    color: #fefdfd;
    font-size: 40px;
    padding-top: 5%; }

.about {
  text-align: center;
  background: #eb684a;
  opacity: .8; }
  .about img {
    width: 17.25%;
    height: 100px;
    margin: 5% 1% 1%;
    display: inline-block;
    border: 1px solid #fefdfd; }
  .about q {
    text-align: left;
    font-size: 12px;
    float: right;
    clear: right;
    display: inline-block;
    width: 300px;
    margin: 2% 5px;
    padding: .25% 5px; }
    .about q:before {
      content: ""; }
    .about q:after {
      content: ""; }
    .about q em {
      float: right; }
  .about p {
    padding: 5px;
    text-align: left;
    width: 460px;
    margin: 1% 10px;
    line-height: 1.5; }

.contact {
  text-align: center;
  background: #e9a353;
  opacity: .8; }
  .contact form {
    padding-top: 5%;
    display: inline-block;
    width: 460px;
    text-align: center; }
    .contact form label {
      margin-left: 2%;
      float: left; }
    .contact form input {
      vertical-align: middle;
      display: inline-block;
      margin: 2%;
      border: none;
      padding: 5px;
      outline: none;
      color: black; }
      .contact form input[required] {
        width: 100%; }
    .contact form .discover {
      margin-left: 2%;
      text-align: left; }
      .contact form .discover input:not(:nth-child(2)) {
        margin-right: 2px;
        margin-left: 20px; }
      .contact form .discover input[type=text] {
        margin-left: 5px; }
    .contact form textarea {
      margin: 2%;
      width: 100%;
      height: 25%;
      border: none;
      padding: 5px;
      outline: none;
      color: black; }
    .contact form button {
      color: #e9a353;
      cursor: pointer;
      display: inline-block;
      padding: 5px 20px;
      background: #44454F;
      border: 2px solid #fefdfd;
      border-radius: 10px;
      outline: none; }
    .contact form button:hover {
      color: #be7118; }

footer {
  height: 45%;
  background-color: #dedede;
  text-align: center; }
  footer h2 {
    color: #44454f;
    padding-top: 2%; }
  footer article {
    height: 45%;
    margin: 2%;
    width: 45%;
    float: left;
    text-align: center; }
    footer article p {
      margin-top: 20px;
      color: #44454f;
      text-align: left; }
    footer article h3 {
      text-align: left;
      position: relative;
      color: #eb684a;
      padding-left: 80px;
      padding-top: 5px; }
    footer article h3:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
      width: 60px;
      border: 1px solid #44454f;
      border-radius: 60px; }
    footer article .grant:before {
      background: url(grant.jpg) no-repeat 0 0;
      background-size: 100%; }
    footer article .mohammed:before {
      background: url(mohammed.jpg) no-repeat 0 -10px;
      background-size: 100%; }
    footer article a {
      margin-top: 20px;
      padding: 5px 20px;
      border: 2px solid #fefdfd;
      border-radius: 10px;
      background: #44454f;
      display: inline-block;
      font-size: 12px; }
