* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

html, body {
  height: 100%; }

.slide {
  height: 100%; }

nav {
  background-color: #313131;
  color: #bbb;
  line-height: 27px;
  font-size: 13px; }
  nav ul {
    display: inline-block;
    text-align: center; }
    nav ul li {
      display: inline-block;
      width: 65px;
      font-weight: bold; }
      nav ul li:hover {
        color: white; }

.thankyou {
  background-color: white; }
  .thankyou .mainsearch {
    width: 100%;
    margin-top: 162px; }
    .thankyou .mainsearch img {
      width: 100%; }

.googleplus {
  border-top: 1px solid black;
  background: #1851CE; }
  .googleplus .googleplusthanks {
    width: 100%;
    background-color: white;
    padding-bottom: 30px; }
    .googleplus .googleplusthanks img {
      width: 100%; }

.search {
  background: #C61800; }
  .search .tysearch {
    width: 100%;
    background-color: white;
    padding-bottom: 30px; }
    .search .tysearch img {
      width: 100%; }

.images {
  background: #FFCF00; }

.maps {
  background: #1851CE; }

.news {
  background: #31B639; }

.more {
  background: #C61800; }

form {
  line-height: 1.5em; }
  form fieldset {
    padding-left: 20px;
    padding-bottom: 20px; }

.about {
  background: blanchedalmond; }
