* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

html, body {
  height: 100%; }

.slide {
  height: 100%; }

nav {
  background-color: #313131;
  color: #bbb;
  line-height: 27px;
  font-size: 13px; }
  nav ul {
    display: inline-block;
    text-align: center; }
    nav ul li {
      display: inline-block;
      width: 65px;
      font-weight: bold; }
      nav ul li:hover {
        color: white; }

.thankyou {
  background-color: white; }
  .thankyou .mainsearch {
    width: 100%;
    margin-top: 162px; }
    .thankyou .mainsearch img {
      width: 100%; }

.googlepluscontainer {
  height: 100%;
  background: #1851CE; }
  .googlepluscontainer .googleplus {
    margin: 30px;
    border-top: 1px solid black;
    background-color: #e5e5e5; }
    .googlepluscontainer .googleplus .googleplusthanks {
      width: 100%;
      background-color: white;
      padding-bottom: 30px; }
      .googlepluscontainer .googleplus .googleplusthanks img {
        width: 100%; }
    .googlepluscontainer .googleplus .googleplusbio {
      width: 100%; }
      .googlepluscontainer .googleplus .googleplusbio img {
        width: 100%; }
    .googlepluscontainer .googleplus .gpcontentcontainer {
      margin: 30px auto;
      width: 600px;
      height: 500px;
      position: relative; }
      .googlepluscontainer .googleplus .gpcontentcontainer .lessons {
        width: 250px;
        height: 500px; }
      .googlepluscontainer .googleplus .gpcontentcontainer .bio {
        width: 250px;
        height: 500px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0; }

.search {
  background: #C61800; }
  .search .tysearch {
    width: 100%;
    background-color: white;
    padding-bottom: 30px; }
    .search .tysearch img {
      width: 100%; }
  .search .searchbigdiv {
    margin-left: 140px;
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 80%;
    padding-top: 6px;
    width: 512px; }
    .search .searchbigdiv ol {
      color: #222222;
      display: block;
      font-size: 16px;
      font-weight: normal;
      height: 80%;
      list-style-type: decimal;
      margin: 0;
      padding: 0;
      width: 512px; }
      .search .searchbigdiv ol li {
        display: list-item;
        font-size: 13px;
        font-weight: normal;
        height: 60px;
        line-height: 15px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 23px;
        padding: 0;
        text-align: left;
        width: 512px; }
        .search .searchbigdiv ol li div {
          display: block;
          font-size: 13px;
          font-weight: normal;
          height: 60px;
          line-height: 15px;
          position: relative;
          width: 512px; }
          .search .searchbigdiv ol li div h3 {
            display: block;
            font-size: 16px;
            height: 19px;
            font-weight: normal;
            margin: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            padding: 0;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .search .searchbigdiv ol li div h3 a {
              display: inline;
              height: auto;
              width: auto;
              white-space: nowrap;
              font-size: 16px;
              font-weight: bold;
              color: #12c;
              line-height: 1.2em; }

.images {
  background: #FFCF00; }

.maps {
  background: #1851CE; }

.news {
  background: #31B639; }

.more {
  background: #C61800; }

form {
  line-height: 1.5em; }
  form fieldset {
    padding-left: 20px;
    padding-bottom: 20px; }

.about {
  background: blanchedalmond; }
