* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

html, body {
  height: 100%; }

.slide {
  height: 100%; }

nav {
  background-color: #313131;
  color: #bbb;
  line-height: 27px;
  font-size: 13px; }
  nav ul {
    display: inline-block;
    text-align: center; }
    nav ul li {
      display: inline-block;
      width: 65px;
      font-weight: bold; }
      nav ul li:hover {
        color: white; }

.thankyou {
  background-color: white; }
  .thankyou .tysearch {
    width: 100%; }
    .thankyou .tysearch img {
      width: 100%; }

.googleplus {
  background: #1851CE; }

.search {
  background: #C61800; }

.images {
  background: #FFCF00; }

.maps {
  background: #1851CE; }

.news {
  background: #31B639; }

.more {
  background: #C61800; }

.about {
  background: blanchedalmond; }
